@{
    ViewBag.Title = "Add Buyer";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<section class="col-md-6">
    <div ng-app="buyerApp">
        <div ng-controller="buyerCtrl" class="divList">
            <div class="centerLoader" data-loading> </div>
            <div class=" container">
                <div class="row">
                    <form name="myform">
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Buyername</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="strBuyerName"  ng-required="true" >
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Status</label>
                                <div class="col-sm-10">
                                    <div class="checkbox">
                                        <label><input type="checkbox" ng-model="bolIsActive" value="0">Active</label>
                                    </div>
                                </div>
                            </div>
 <div class="form-group row">
                                <label class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <div class="form-group error">

                                        <div id="BuyerErrorMessage"></div>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <button ng-click="myform.$valid && InsertData()" id="btnSave" value="Submit" class="btn btn-success">Save</button>
                                </div>
                            </div>





                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
