




<div class="content-wrapper">



    <input type="text" id="searchText" value="@ViewBag.intPOCode" />
    <input type="hidden" id="strUser" value="@ViewBag.strUser" />
    <div class="row" id="divReport">

    </div>


</div>
