




<div class="content-wrapper">



    <input type="hidden" id="searchText" value="@ViewBag.intPOCode" />
    <input type="hidden" id="xpertLoginID" value="@ViewBag.xpertLoginID" />
    <div class="row" id="divReport">

    </div>


</div>
