

/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}
.dataTables_wrapper .dataTables_filter {
    float: none !important;
    text-align: center !important;
}
#total {
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 15px;
    margin-bottom: 15px;
    width: 258px;
    float: right;
    background: #a94442;
    padding: 10px;
    border-radius: 5px;
    position:relative;
    top:46px;
}
.dataTables_wrapper .dataTables_filter input {
    border: 1px solid #aaa !important;
}
    textarea: focus, input:focus {
    border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #666666;
  line-height: 1.5;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #333333;
  line-height: 1.5;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #f2f2f2;  
}

.wrap-login100 {
  width: 480px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 37px 55px 33px 55px;

  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}
.login100-form-title i {
  font-size: 60px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.input100 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}

/*---------------------------------------------*/ 
.focus-input100 {
position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 14px;
    pointer-events: none;
    padding-left: 15px;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #6a7dfe;
  background: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  background: -o-linear-gradient(left, #21d4fd, #b721ff);
  background: -moz-linear-gradient(left, #21d4fd, #b721ff);
  background: linear-gradient(left, #21d4fd, #b721ff);
}

.focus-input100::after {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #999999;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100::after {
  top: -15px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -15px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

/*---------------------------------------------*/
.btn-show-pass {
  font-size: 15px;
  color: #999999;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  padding-right: 5px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-show-pass:hover {
  color: #6a7dfe;
  color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  color: -o-linear-gradient(left, #21d4fd, #b721ff);
  color: -moz-linear-gradient(left, #21d4fd, #b721ff);
  color: linear-gradient(left, #21d4fd, #b721ff);
}

.btn-show-pass.active {
  color: #6a7dfe;
  color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  color: -o-linear-gradient(left, #21d4fd, #b721ff);
  color: -moz-linear-gradient(left, #21d4fd, #b721ff);
  color: linear-gradient(left, #21d4fd, #b721ff);
}



/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-login100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}


.login100-form-btn {
 font-family: Poppins-Medium;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background: #243894;
    top: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
  left: 0;
}


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 77px 15px 33px 15px;
  }
}



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  font-size: 16px;
  color: #c80000;

  display: block;
  position: absolute;
  background-color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}


 .listingcontainer{
    max-width: 1300px;
    padding: 0 15px;
    margin: auto;
}
.header{
  padding-top: 5px;
}
.header ul{
  text-align: right;
}
.header ul li{
  display: inline-block;
    margin-left: 15px;
}
.header ul li img{
  width: auto;
    height: 55px;
    object-fit: contain;
}


.inputfield input {
    padding-left: 30px;
}
.inputfield{
  position: relative;
}
.inputfield>i {
    font-size: 15px;
    color: #c5c5c5;
    position: absolute;
    left: 0;
    top: 20px;
}

.sectionpadding{
  padding: 30px 0;
}
.heading-title{
  margin-bottom: 20px;
}
.heading-title h2{
font-size: 24px;
    font-weight: 600;
}
.datefilters {
    margin-bottom: 25px;
}

.datefilters label {
    font-size: 15px;
    margin-bottom: 0;
    font-weight: 500;
    padding-left: 5px;
}

.datefilters .searchbtn {
    margin-top: 25px;
}
.datefilters .searchbtn button.login100-form-btn {
    border-radius: 5px;
    max-width: 110px;
    height: 38px;
}

.table-common table thead tr th {
    font-size: 13px;
    background: #243894;
    color: #fff;
        vertical-align: middle;
    border-right: solid 1px;
}
.table-common table tbody tr td{
      font-size: 14px;
          vertical-align: middle;
    font-weight: 400;
}
.table-common .dataTables_paginate .paginate_button {
    background: #e9ecef !important;
    padding: 4px 17px;
    border-radius: 5px;
    border: solid 1px #e9ecef !important;
    color: #000 !important;
    margin-left: 9px;
}

.table-common .dataTables_paginate .paginate_button.current {
    background: #243894 !important;
    color: #fff !important;
}

div.dt-buttons {
    position: relative;
   padding-left:20px;
}
footer{
    text-align: center;
    
    background: #243894;
    color: #fff;
        position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}
.copyrights{
color: #fff;
}



.brand-logo img {
    height: 95px;
    margin-bottom: 20px;
}
.brand-logos {
    width:100%;
    text-align:center;
}
    .brand-logos img {
        height: 80px;
        display: inline-block;
        margin-right:10px;
    }

.credits {
  margin-top: 15px;
  text-align: center;
}
.credits span {

    font-size: 14px;
}
.credits span a img{
  height: 45px;
    margin-left: 10px;
}

.bg-success, .bg-success > a {
    color: #fff !important;
}

.bg-success {
    background-color: #28a745 !important;
}
.small-box > .inner {
    padding: 10px;
    display: inline-block;
    width: 80%;
}
.col-lg-3 .small-box h3, .col-md-3 .small-box h3, .col-xl-3 .small-box h3 {
    font-size: 2.2rem;
    color:#ffffff;
}
.small-box h3, .small-box p {
    z-index: 5;
    color: #ffffff;
}
.small-box {
    border-radius:10px;
}
.small-box p {
    font-size: 1rem;
}
    .small-box .icon {
        color: rgba(0,0,0,.15);
        z-index: 0;
        display: inline-block;
        text-align: right;
        position: relative;
        top: -20px;
    }
